* {
  font-family: 'Poppins', sans-serif;
}

.demo-link {
    background-color: #020e4a;
  }  

.link-menu {
    list-style-type: none;
    font-size: 15px;
    font-weight: 100;
}

.header-logo {
    width: 80vw;
}

.menu {
    list-style-type: none;
    justify-content: space-around;
}

.top {
    background-image: url("./images/Hero\ Background.png");
    height: 207px;
}

.footer {
    background-color: #020e4a;
}

.footer-logo {
    width: 80vw;
}

.address {
    font-size: 10px;
}
.address h5 {
    font-size: 15px;
}

.foote-line {
    border: .5px solid #B9B9B9;
}

@media screen and (min-width: 1120px) {
    .link-menu li {
        margin: 0 35px 0 35px;
    }

    .header {
        display: flex;
        padding: 40px 0 40px 120px;
    }

    .logo-div {
        display: flex;
        justify-content: flex-start !important;
    }

    .header-logo {
        width: 300px;
    }

    .allcourse-button {
        width: 277px;
        margin-left: 40px;
        margin-right: 80px;
        font-size: 20px;
    }

    .menu {
        font-size: 15px;
        width: -webkit-fill-available;
    }

    .menu li {
        margin: auto;
    }

    .top {
        height: 414px;
    }

    .footer {
        padding: 65px 120px 0 120px;
    }

    .footer-logo {
        width: 400px;
        height: 70px;
    }

    .bsi-logo {
        width: 200px;
    }

    .footer-logo-div {
       
        display: flex;
        justify-content: space-between;
    }

    .address {
        justify-content: space-between;
        font-weight: 200;
    }

    .address {
        font-size: 20px;
    }
    .address h5 {
        font-size: 25px;
    }

    .t-and-c {
        display: flex;
        justify-content: space-around;
    }
}
